* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
    padding: 5px;
    background: rgb(220, 220, 220);
    margin: 4px;
}

.terminada {
    background: rgb(151, 252, 151);
    color: green;
    text-decoration: line-through;
}

li button {
    background: rgb(252, 112, 136);
    border: 1px solid red;
    color: white;
    padding: 0px 2px;
    cursor: pointer;
    float: right;
}