.encabezado{
    color: red;
}

.continentes li.norte {
    color: green;
}

.estudiante {
    font-family: sans-serif;
    font-size: 15px;
    background: yellow;
    color: orange;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
}

.equipo {
    background: blue;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border: 1px solid yellow;
}