/* selector de tag */
p {
  color: blue;
}
/* selector por id */
#noticiaPrincipal {
  color: red;
}
/* selector por clase */
.publicidad {
  color: violet;
}
/* selector por agrupación */
h1,
h2,
h4 {
  color: orange;
}
span{
    color: red;
}
