@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  /* Dimensiones */
  width: 100vw;
  height: 100vh;
  display: grid;
  /* filas / columnas */
  grid-template: 80px 1fr 1fr 80px / 2fr 1fr;
  gap: 10px;
  font-family: "Ubuntu", sans-serif;
}
.header {
  background: #305d9a;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  /* establece el grid */
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
}
.header h1 {
  justify-self: start;
  margin-left: 20px;
  font-family: "Lobster", cursive;
  color: #ffffff;
  font-size: 2.5em;
}
.header div {
  justify-self: end;
  margin-right: 20px;
}
.header div button {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #bebebe;
  color: rgb(7, 60, 123);
  text-transform: uppercase;
  cursor: pointer;
}
.header div button:hover {
  background: darkblue;
  color: #ffffff;
}
.contenido1 {
  background: red;
  grid-row: 2 / 4;
  grid-column: 1 / 2;

  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas: 
  "celda2 celda2"
  "celda1 celda4";
}
.contenido2 {
  background: #bf6df2;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.contenido3 {
  background: yellow;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.footer {
  background: black;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}
.celda1 {
  background: blue;
  grid-area: celda1;
}
.celda2 {
  background: red;
  grid-area: celda2;
}
.celda3 {
  background: yellow;
  grid-area: celda3;
}
.celda4 {
  background: green;
  grid-area: celda4;
}
